@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Styles */
nav {
  border-bottom: 2px solid #789DBC;
}
.text-primary {
  color: #167DD3;
}
.bg-light {
  background-color: #E2EAF4;
}
